/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited { color: #505abc; }

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active { color: #12eb87; }

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section { display: block; }

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 { padding: 0 0 10px 0; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

.page {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer,
#footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 20px;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/

ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

form {
    font: 13px Georgia, "Times New Roman", Times, serif;
    background: #eee;
    margin: 20px;
    padding: 10px 20px;
    width: 800px;
}

form ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

form li {
    padding: 6px;
    background: #e1e1e1;
    margin-bottom: 1px;
}

form li #send {
    background: none;
    margin-top: 6px;
}

form label {
    float: left;
    width: 15em;
    text-align: right;
    margin-right: 2em;
    color: #0066CC;
    line-height: 23px; /* This will make the labels vertically centered with the inputs */
}

form input[type="text"],
form input[type="password"],
form textarea {
    padding: 3px;
    font: 13px Georgia, "Times New Roman", Times, serif;
    border: 1px solid #999999;
    width: 40em;
    height: 90%;
}

form input[type="text"].short,
form input[type="password"].short { width: 6em; }

form input[type="text"].short2,
form input[type="password"].short2 { width: 8em; }

form input[type="text"]:focus,
form input[type="password"]:focus,
form textarea:focus {
    border: 1px solid #666;
    background: #e3f1f1;
}

form li#send button {
    background: #003366 url(images/submit.png) no-repeat 0px -4px;
    border: none;
    padding: 4px 8px 4px 28px;
    border-radius: 15%; /* Don't expect this to work on IE6 or 7 */
    -moz-border-radius: 15%;
    -webkit-border-radius: 15%;
    color: #fff;
    margin-left: 16.6em; /* Total width of the labels + their right margin - small amount to align better */
    cursor: pointer;
}

form li#send button:hover { background-color: #006633; }

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/

.clear { clear: both; }

.error { color: Red; }

nav,
#menucontainer { margin-top: 40px; }

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid { display: none; }

/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-label,
.editor-label { margin: 1em 0 0 0; }

.display-field,
.editor-field { margin: 0.5em 0 0 0; }

.text-box { width: 30em; }

.text-box.multi-line { height: 6.5em; }

.tri-state { width: 6em; }

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

/* */

.date-range { font-style: italic; }

#pages ol li {
    display: inline;
    margin: 4px;
    background-color: #eee;
}

#pages ol li a {
    padding-right: 1em;
    padding-left: 1em;
}

#pages ol li.currentPage {
    font-size: 125%;
    padding-right: 1em;
    padding-left: 1em;
}

#records table { width: 80%; }

#records th { text-align: center; }

#records td.date {
    width: 12em;
    text-align: center;
}