

@{
  ViewBag.Title = "Product Inventory";
}

<h2>Product Inventory</h2>

<table id="products" class="jtable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sale Price</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: products">
    <tr>
      <td data-bind="text: Name"></td>
      <td data-bind="text: SalePrice" class="number"></td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    var data = {
      'products': [
        { 'Name': 'Hammer', 'SalePrice': '11.99' },
        { 'Name': 'Nail Pack x100', 'SalePrice': '0.05' }
      ]
    };
    var view = ko.mapping.fromJS(data);

    ko.applyBindings(view);

    JTable.Setup();
  })
</script>