@{
    ViewBag.Title = "Home Page";
}

@section scripts {
  <script src="https://raw.github.com/broofa/node-uuid/master/uuid.js"></script>
}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
      @using (Html.BeginForm("Create", "Game"))
      {
        <input type="submit" value="Create" />
      }
      @using (Html.BeginForm("Join", "Game"))
      {
        <input type="text" id="id" />
        <input type="submit" value="Join" />
      }
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>