@using Renfield.Inventory.Helpers
@model Renfield.Inventory.Models.SaleModel
@{
  ViewBag.Title = "Sales";
}

<h2>Sales</h2>

<p>
  @Html.ActionLink("Create", "Create", null, new { id = "sales_create" })
</p>

<div>
  @Html.KnockoutTableForModel("data", new { id = "sales", @class = "pure-table pure-table-horizontal pure-table-striped" })
</div>

<div>
  <p>Items for <span id="saleId"></span></p>

  @Html.KnockoutTableFor(m => m.Items, new { id = "sale_items", @class = "pure-table pure-table-horizontal pure-table-striped" })
</div>

<script type="text/javascript">
  $(function() {
    var masterVm = new ViewModel($.BASE_URL + "Sales/GetSales", $('#sales')[0]);
    var detailVm = new DetailViewModel($.BASE_URL + "Sales/GetSaleItems", $('#sale_items')[0]);

    $('#sales').selectable({
      filter: 'tbody tr',
      selected: function(e, ui) {
        var id = $(ui.selected).data('id');

        $('#saleId').text(id);
        detailVm.update(id);
      }
    });
  })
</script>