@{
  ViewBag.Title = "Sales";
}

<h2>Sales</h2>

<p>
  @Html.ActionLink("Create", "Create", null, new { id = "sales_create" })
</p>

<div>
  <p>Sales</p>
  <table id="sales" class="jtable">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Date</th>
        <th>Total Value</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: sales">
      <tr data-bind="attr: { 'data-id' : Id }">
        <td data-bind="text: CompanyName"></td>
        <td data-bind="text: Date" class="date"></td>
        <td data-bind="text: Value" class="number"></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <p>Items for <span id="saleId"></span></p>
  <table id="sale_items" class="jtable">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: saleItems">
      <tr>
        <td data-bind="text: ProductName"></td>
        <td data-bind="text: Quantity" class="number"></td>
        <td data-bind="text: Price" class="number"></td>
        <td data-bind="text: Value" class="number"></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function() {
    var masterViewModel = null;
    var childViewModel = null;

    $.getJSON($.BASE_URL + "Sales/GetSales")
      .done(function(data) {
        masterViewModel = ko.mapping.fromJS({ sales: data });

        ko.applyBindings(masterViewModel, $('#sales')[0]);
      });

    JTable.Setup();

    $('#sales').selectable({
      filter: 'tbody tr',
      selected: function(e, ui) {
        var id = $(ui.selected).data('id');

        $('#saleId').text(id);
        $.getJSON($.BASE_URL + "Sales/GetSaleItems", { id: id })
          .done(function(data) {
            if (childViewModel != null)
              ko.mapping.fromJS({ saleItems: data }, childViewModel);
            else {
              childViewModel = ko.mapping.fromJS({ saleItems: data });
              ko.applyBindings(childViewModel, $('#sale_items')[0]);
            }
          });
      }
    });
  })
</script>