<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Renfield.VideoSpinner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Renfield.VideoSpinner.Properties.Settings>
            <setting name="csvFile" serializeAs="String">
                <value />
            </setting>
            <setting name="imagesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="soundsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="watermarkText" serializeAs="String">
                <value>(C) 2013 by Renfield Software</value>
            </setting>
            <setting name="watermarkSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="watermarkColor" serializeAs="String">
                <value>#ff0000</value>
            </setting>
            <setting name="outputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="watermarkFile" serializeAs="String">
                <value />
            </setting>
        </Renfield.VideoSpinner.Properties.Settings>
    </userSettings>
</configuration>