@model TheGame.Models.Game

@{
  ViewBag.Title = "Join";
}

@{
  const int CANVAS_WIDTH = 640;
  const int CANVAS_HEIGHT = 480;
}

@section scripts {
  <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
  <script src="~/signalr/hubs"></script>

  <script src="~/Scripts/HexagonTools.js"></script>
  <script src="~/Scripts/HexCalc.js"></script>
  <script src="~/Scripts/HexGrid.js"></script>

  <script src="~/Scripts/Game.js"></script>

  <script type="text/javascript">
    var game = new Game('@Model.Id', @CANVAS_WIDTH, @CANVAS_HEIGHT);
    game.Start();
  </script>
}

<h2>Join</h2>

Guid: @Model.Id

<div id="board">
  <canvas id="hexCanvas" width="@CANVAS_WIDTH" height="@CANVAS_HEIGHT"></canvas>
</div>
