@using Renfield.Inventory.Helpers
@model Renfield.Inventory.Models.StockModel
@{
  ViewBag.Title = "Product Inventory";
}

<h2>Product Inventory</h2>

@Html.KnockoutTableForModel("data", new { id = "products", @class = "pure-table pure-table-horizontal pure-table-striped" })

<script type="text/javascript">
  $(function() {
    var vm = new ViewModel($.BASE_URL + "Stocks/GetStocks");

    var hub = $.connection.liveUpdateHub;

    hub.client.updateStocks = function() {
      vm.update();
    };

    $.connection.hub.start().done(function() {
      // nothing for now
    });
  });
</script>