@using Renfield.Inventory
@model Renfield.Inventory.Models.StockModel
@{
  ViewBag.Title = "Product Inventory";
}

<h2>Product Inventory</h2>

<!--
  <table id="products" class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Recommended Retail Price</th>
        <th>Purchase Value</th>
        <th>Sale Value</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: data">
      <tr>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Quantity" class="number"></td>
        <td data-bind="text: RRP" class="number"></td>
        <td data-bind="text: PurchaseValue" class="number"></td>
        <td data-bind="text: SaleValue" class="number"></td>
      </tr>
    </tbody>
  </table>
-->
@Html.KnockoutTableForModel("data", new { id = "products", @class = "pure-table pure-table-horizontal pure-table-striped" })

<script type="text/javascript">
  $(function() {
    var vm = new ViewModel($.BASE_URL + "Stocks/GetStocks");

    var hub = $.connection.liveUpdateHub;

    hub.client.updateStocks = function() {
      vm.update();
    };

    $.connection.hub.start().done(function() {
      // nothing for now
    });
  });
</script>