@model Renfield.SafeRedir.Models.DisplayListModel

@{
  ViewBag.Title = "Display";
}

<h2>Display</h2>

<div id="records">
  <p>Displaying records between <span class="date"></span></p>
  <table>
  
  </table>
</div>