@{
  ViewBag.Title = "Index";
}

<h2>Expenses</h2>

<style>
  .scrollable {
    width: 400px;
    height: 400px;
    border: 1px solid #555;
    overflow: hidden;
  }
</style>

<div class="scrollable">
  <div class="pagination">
    <div class="next">
      <a id="goNext" href="~/Expenses/Load?year=2013&month=10">Next</a>
    </div>
  </div>
  @Html.Partial("_Month", new Budget.Models.MonthModel(2013, 11));
</div>

@section scripts {
  <script type="text/javascript" src="~/Scripts/jquery-ias.js"></script>
  <link rel="stylesheet" type="text/css" href="https://raw.github.com/webcreate/infinite-ajax-scroll/master/dist/css/jquery.ias.css" />

  <script type="text/javascript">
    $(function () {
      jQuery.ias({
        container: '.scrollable',
        item: '.month',
        pagination: '.pagination',
        next: '#goNext',
        loader: '<img src="~/Content/Images/loader.gif"/>'
      });
    });
  </script>
}