@{
  ViewBag.Title = "Acquisitions";
}

<h2>Acquisitions</h2>

<table id="acquisitions" class="jtable">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: acquisitions">
    <tr>
      <td data-bind="text: CompanyName"></td>
      <td data-bind="text: date" class="date"></td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    $.getJSON($.BASE_URL + "Acquisitions/GetAcquisitions", function(data) {
      var view = ko.mapping.fromJS({ acquisitions: data }, mapping);

      ko.applyBindings(view);
    });

    JTable.Setup();

    //

    var mapping = {
      'acquisitions': {
        create: function(options) {
          return new acquisitionModel(options.data);
        }
      }
    };

    function acquisitionModel(data) {
      ko.mapping.fromJS(data, { }, this);

      this.date = ko.computed(function() {
        return formatDate(parseJsonDate(this.Date()));
      }, this);
    }
  })
</script>