@{
  ViewBag.Title = "Acquisitions";
}

<h2>Acquisitions</h2>

<p>
  @Html.ActionLink("Create", "Create", null, new { id = "acquisitions_create" })
</p>

<div>
  <p>Acquisitions</p>
  <table id="acquisitions" class="jtable">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Date</th>
        <th>Total Value</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: data">
      <tr data-bind="attr: { 'data-id' : Id }">
        <td data-bind="text: CompanyName"></td>
        <td data-bind="text: Date" class="date"></td>
        <td data-bind="text: Value" class="number"></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <p>Items for <span id="acquisitionId"></span></p>
  <table id="acquisition_items" class="jtable">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: items">
      <tr>
        <td data-bind="text: ProductName"></td>
        <td data-bind="text: Quantity" class="number"></td>
        <td data-bind="text: Price" class="number"></td>
        <td data-bind="text: Value" class="number"></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function() {
    var masterVm = new ViewModel($.BASE_URL + "Acquisitions/GetAcquisitions", $('#acquisitions')[0]);
    var detailVm = new DetailViewModel($.BASE_URL + "Acquisitions/GetAcquisitionItems", $('#acquisition_items')[0]);

    $('#acquisitions').selectable({
      filter: 'tbody tr',
      selected: function(e, ui) {
        var id = $(ui.selected).data('id');

        $('#acquisitionId').text(id);
        detailVm.update(id);
      }
    });
  })
</script>