@using Renfield.Inventory.Helpers
@model Renfield.Inventory.Models.AcquisitionModel
@{
  ViewBag.Title = "Acquisitions";
}

<h2>Acquisitions</h2>

<p>
  @Html.ActionLink("Create", "Create", null, new { id = "acquisitions_create" })
</p>

<div>
  @Html.KnockoutTableForModel("data", new { id = "acquisitions", @class = "pure-table pure-table-horizontal pure-table-striped" })
</div>

<div>
  <p>Items for <span id="acquisitionId"></span></p>
  
  @Html.KnockoutTableFor(m => m.Items, new { id = "acquisition_items", @class = "pure-table pure-table-horizontal pure-table-striped" })
</div>

<script type="text/javascript">
  $(function() {
    var masterVm = new ViewModel($.BASE_URL + "Acquisitions/GetAcquisitions", $('#acquisitions')[0]);
    var detailVm = new DetailViewModel($.BASE_URL + "Acquisitions/GetAcquisitionItems", $('#acquisition_items')[0]);

    $('#acquisitions').selectable({
      filter: 'tbody tr',
      selected: function(e, ui) {
        var id = $(ui.selected).data('id');

        $('#acquisitionId').text(id);
        detailVm.update(id);
      }
    });
  })
</script>