<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="yelp_base_url" value="http://api.yelp.com/v2/search" />
    <add key="yelp_consumer_key" value="EumQdxgqyM1EQurSLK5wpA" />
    <add key="yelp_consumer_secret" value="daSyoHFstwCw32Y_KEchLkD2C_o" />
    <add key="yelp_token" value="2fKLDZ5VO-UGiCWmI44nfYbkSxeIhicD" />
    <add key="yelp_token_secret" value="tctX4DNrCz0Qeo8iNioCTd1Sv28" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>