<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="yelp_consumer_key" value="EumQdxgqyM1EQurSLK5wpA" />
    <add key="yelp_consumer_secret" value="daSyoHFstwCw32Y_KEchLkD2C_o" />
    <add key="yelp_token" value="2fKLDZ5VO-UGiCWmI44nfYbkSxeIhicD" />
    <add key="yelp_token_secret" value="tctX4DNrCz0Qeo8iNioCTd1Sv28" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>