<connectionStrings>
  <add name="SafeRedir" connectionString="Data Source=.; Initial Catalog=mdpopesc_SafeRedir; User ID=XXX; Password=XXX;" providerName="System.Data.SqlClient" />
</connectionStrings>